<div class="row editing">
    <div class="col-sm-12">
        <h2>Editing Active Record Product</h2>

        <%= render 'form' %>

        <p>
        <%= link_to '<span class="glyphicon glyphicon-chevron-left"></span> Back'.html_safe, products_path, class: "btn btn-sm btn-primary"  %>
        </p>
        <%= render 'log' %>
    </div>
</div>