<br />
Event Sourced database<br /><br />

Aggregate table<br />
<% @aggregate_log.each do |row| %>
  <span><%= row %></span>
  <br />
<% end %>
<br/>
Events table<br />
<% @event_log.each do |row| %>
  <span><%= row %></span>
  <br />
<% end %>