
<h4>Event Sourced database</h4>

<h5>Aggregate table</h5>
<% @aggregate_log.each do |row| %>
  <p class="bg-info"><%= row %></p>
<% end %>
<br>
<h5>Events table</h5>
<% @event_log.each do |row| %>
  <p class="bg-success"><%= row %></p>
<% end %>
