@import 'bootstrap-custom';
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.jumbotron { margin-top: 30px;}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.editing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  margin-top: 30px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
p {
    &.bg-warning, &.bg-success, &.bg-info {
        margin:0 0 2px;
    }
}
